<div class="bg-blue-500 text-white text-center p-8">
	<h1 class="text-2xl">Dejanos tu información para recibir información sobre la proxima conferencia</h1>
</div>
<div class="flex items-center justify-center mt-8">
	<%= render 'form', client: @client %>
</div>

