<div class="flex items-center">
	<div class="px-8 py-12 max-w-xl mx-auto">
		<div class="mt-2 py-8">
			<%= image_tag("logo.png", style: "height:350px")%>
		</div>
		<div class="">
			<p class="text-xl leading-tight">La versatilidad del derecho y la medicina deben de conjuntarse para afrontar las necesidades y
			obligaciones que surgen del cambio de la interacción social. Por lo que consideramos que dar
			soporte de índole jurídico al ámbito médico, evitan conflictos y se constituye en un aporte de
			índole preventivo, que justifica la necesidad en que profesionales de la medicina sean además
			abogados y se integren con otros profesionales del derecho para dar solución a las nuevas
			exigencias y problemáticas sociales.</p>
		</div>
		<div class="mt-8">
			<%= link_to "Recibir informacion", new_client_path, class: "bg-blue-500 text-white p-3 rounded-md" %>
		</div>
	</div>	
</div>


